Downloads
rpmbuild
.viminfo
.ssh
.local
.var/app
.cache
.bash_history
.gitconfig
.config/dconf/user
.config/gh/
.config/nvim/lazy-lock.json
.config/mimeapps.list
.config/Google/AndroidStudio2024.1
.config/github-copilot
.config/wslu
.config/wslu
.fonts/CascadiaCode/.uuid
.fonts/.uuid
.config/tmux/plugins
.config/environment.d
.fonts/CascadiaCode/.uuid
.fonts/.uuid

.config/tmux/plugins/*
!.config/tmux/plugins/tpm
